nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }

nav li {
    display: inline-block;
    margin-right: 7%;
    }

nav a {
    text-decoration: none;
    color: #070c55;
    }

nav a:hover {
    color: #c77e10;
    }