body {
    background: #a79090;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }

nav li {
    display: inline-block;
    margin-right: 7%;
    }

nav a {
    text-decoration: none;
    color: #120f41;
    }

nav a:hover {
    text-decoration: underline;
    color: #c77e10;
    }

